<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    {% load static %}
    {% include 'components/navbar.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    
    <h1>Reset your password</h1>
    <h5 align='center'>Enter a new password for your account</h5>
    <div id='login'>
        <form method='POST' id='login-form'> {% csrf_token %}
            
            <div class="wrapper">
                    {{ form|crispy }}
                <button class="btn btn-primary" type='submit' id='submit-btn'>Reset Password</button>
                <br />
            </div>
        </form>
    </div>
    {% endblock %}
</body>
<style>
    P { 
        text-align: center }
    H1 { 
        text-align: center;
        margin-top:25px; 
    }
    .wrapper {
        text-align: center;
    }

    .alert-danger {
        display:inline-block;
        }

    #header {
        text-align: center;
    }
    #login {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
</html>
